/* Personalização de estilos */
body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #d9a871; 
}

.container {
  margin-top: 30px;
}

.btn{
  background-color: #d9a871;
  border: #d9a871; /*botao de detalhes compra etc botoes em geral */
}
.btn:hover{
 transition: 0.5s;
 background-color: #ac865a;
  transform: scale(1.03);
}

.card-title{
 color: #d9a871; /*Texto de cima */
}
.card{
  border: #fff; /*borda das imagens */
}

.secondary-images {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.secondary-images img {
  max-width: 100px; /* Ajuste o tamanho conforme necessário */
  cursor: pointer;
}