/* Personalização de estilos */
/* COMENTADA PARA AJUDAR NO ESTUDO */
body {
  font-family: Arial, sans-serif; /* fontes */
}

.navbar-custom {
background-color: #2b292a; /* backgroud color da navbar*/

}
.nav-item a {

color: #fff; /* cor do texto da navbar */
}

.nav-item a:hover{

transition: 0.5s; /* delay para mudança de cor e escala */
transform: scale(1.03);  /*Muda o tamanho quando passa com o mouse acima */
color: #d9a871; /*cor do texto da nav bar quando passar o mouse */

}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23d9a871' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
/* cor do menu sanduiche para mobile */
}

h1 {
  color: #d9a871; /* cor do h1 do html */
}

.container {
  margin-top: 30px; 
}

.btn{
  background-color: #d9a871;
  border: #d9a871; /*botao de detalhes compra etc botoes em geral */
}
.btn:hover{
 transition: 0.5s; /* transisao de para cores ou tamanhos com tempo de dalayes */
 background-color: #ac865a; 
  transform: scale(1.03); /* mudar o tamanho  do botão ao passar com o mouse por cima */
}

.card-title{
 color: #d9a871; /*Texto de cima */
}
.card{
  border: #fff; /*borda das imagens */
}

/* DETALHES DO PRODUTO*/

.image-container {
  display: flex;
  align-items: flex-start; /* alinha as imagens na parte superior */
}

.main-image {
  max-width: 80%; /* ajuste o tamanho conforme necessário */
  margin-right: 20px; /* espaçamento entre a imagem principal e as secundárias */
}

.secondary-images {
  display: flex;
  flex-direction: column; /* para colocar as imagens em coluna */
  gap: 10px; /* espacamrnto entre as imagens secundárias */
}

.secondary-images img {
  max-width: 200px; /* Ajuste o tamanho conforme necessário */
  cursor: pointer; /* muda o cursor do mouse de seta para a máozinha com o dedo apontado */
}

/* PARA SER RESPONSIVO */
@media (max-width: 768px) {
  .image-container {
      flex-direction: column; /* Muda a direção para coluna em telas menores */
      align-items: center; /* Centraliza as imagens */
  }
  
  .main-image {
      max-width: 100%; /* A imagem principal ocupa 100% da largura em telas menores */
      margin-right: 0; /* Remove o espaçamento */
  }

  .secondary-images {
    margin-top: 15px;/* Margem da imagem lprincipal em cima */
      align-items: center; /* Centraliza as imagens secundárias abaixo da imagem principal */
      flex-direction: row; /* Alinha na horizontal as imagens secundarias quando o diispositivo for menor de 768px */
  }
}