:root{
  --color-primary-200: #D7BDA5;
  --color-primary-500: #D9A871;
  --color-primary-700: #AC865A;

  --color-muted-800: #2B292A;
  --color-muted-700: #524f4E;
  --color-muted-500: #73706F;

  --color-danger-500: #FF0000;
  --color-danger-300: #FF3C3C;
  --color-danger-100: #FF8787;
}
#header{
  height: 204px;
  width: 100%;
  overflow-x: hidden;
 
  .top-header{
    height: 140px;
    width: 100%;
    background-color: var(--color-muted-800);
    display: flex;
    color: white

    img {
      height: 95px
    }
  }
  
}