#main{
  width: 100%;
  height: 100vh;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-white{
  color: #ffffff
}
.text-dark{
  color: #000000
}